<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Expance</title>
	<link rel="stylesheet" href="/css/expance.css">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>№</th>
				<th>Maqsad</th>
				<th>Summa</th>
				<th>Sana</th>
			</tr>
		</thead>
		<tbody class="expance-table">
			 
		</tbody>
	</table>

	<form id="expance-form">
		<input id="target" type="text" name="text" required placeholder="Expance from...">
		<input id="money" type="number" name="name" required placeholder="How much...">
		<button class="button addExpance" id="addExpance" type="submit">add</button>
	</form>

	<script src="/js/expance.js"></script>	
</body>
</html>