<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Income</title>
	<link rel="stylesheet" href="/css/income.css">
</head>
<body>
	<nav class="nav">
        <div class="container">
            <h1 class="nav-title">Income</h1>
            <%- include('nav.html', { links: ['income', 'expance', 'balance'] }) %>
        </div>
    </nav>

	<div class="container">
		<form id="income-form" action="/income" method="POST">
			<input id="target" type="text" name="type" required placeholder="Income from...">
			<input id="money" type="number" name="cost" required placeholder="How much...">
			<button class="button addIncome" id="addIncome" type="submit">add</button>
		</form>
	</div>
	
	<div class="container">
		<table>
			<thead>
				<tr>
					<th>№</th>
					<th>Maqsad</th>
					<th>Summa</th>
					<th>Sana</th>
					<th>o'chirish</th>
				</tr>
			</thead>
			<tbody class="income-table">
				 <% for(let i in incomes) {%>
					<tr>
						<td><%= +i + 1 %></td>
						<td><%= incomes[i].type %></td>
						<td><%= incomes[i].cost %></td>
						<td><%= incomes[i].date %></td>
						<td><a href="/income/delete/<%= incomes[i].id%>">delete</a></td>
					</tr>
				 <% } %>
			</tbody>
		</table>
	</div>
</body>
</html>