<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Income</title>
	<link rel="stylesheet" href="/css/income.css">
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>№</th>
				<th>Maqsad</th>
				<th>Summa</th>
				<th>Sana</th>
				<th>clear</th>
			</tr>
		</thead>
		<tbody class="income-table">
			 <% for(let i in expances) {%>
				<tr>
					<td><%= +i + 1 %></td>
					<td><%= expances[i].type %></td>
					<td><%= expances[i].cost %></td>
					<td><%= expances[i].date %></td>
					<td><a href="/income/delete/<%= expances[i].id%>">delete</a></td>
				</tr>
			 <% } %>
		</tbody>
	</table>

	<form id="income-form" action="/income" method="POST">
		<input id="target" type="type" name="text" required placeholder="Income from...">
		<input id="money" type="cost" name="number" required placeholder="How much...">
		<button class="button addIncome" id="addIncome" type="submit">add</button>
	</form>

	<!-- <script src="/js/income.js"></script> -->
</body>
</html>