<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Income</title>
	<link rel="stylesheet" href="/css/income.css">
</head>
<body>
	<div class="link">
		<a href="/expance">expance</a>
		<a href="/total">total</a>
	</div>
	<table>
		<thead>
			<tr>
				<th>№</th>
				<th>Maqsad</th>
				<th>Summa</th>
				<th>Sana</th>
			</tr>
		</thead>
		<tbody class="income-table">
			 
		</tbody>
	</table>

	<form id="income-form" action="/income" method="POST">
		<input id="target" type="text" name="text" required placeholder="Income from...">
		<input id="money" type="number" name="number" required placeholder="How much...">
		<button class="button addIncome" id="addIncome" type="submit">add</button>
	</form>

	<!-- <script src="/js/income.js"></script> -->
</body>
</html>