<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total</title>
	<link rel="stylesheet" href="/css/total.css">
</head>
<body>
	<nav class="nav">
        <div class="container">
            <h1 class="nav-title">Balance</h1>
            <%- include('nav.html', { links: ['income', 'expance', 'balance'] }) %>
        </div>
    </nav>
	<div class="container">
		<ul class="total__list">
			<li class="total__item">
				<p class="total__text">Total:</p> 
				<% for(let i in total[0]) { %>
					<% for(let m in total[1]) { %>
						<% let income = +total[0][i].sum %>
						<% let expance = +total[1][m].sum %>
						<p class="total__cost">$<%= income + expance %></p> 
					<% } %>
				<% } %>
			</li>
			<li class="total__item">
				<p class="income__text">Income:</p> 
				<% for(let i in incomes) { %>
					<p class="income__cost">$<%= incomes[i].sum %></p>  
				<% } %>
			</li>
			<li class="total__item">
				<p class="expance__text">Expance:</p> 
				<% for(let i in expances) { %>
					<p class="expance__cost">$<%= expances[i].sum %></p>  
				<% } %>
			</li>	
		</ul>
	</div>

</body>
</html>