<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Total</title>
	<link rel="stylesheet" href="/css/total.css">
</head>
<body>
	<div class="link">
		<a href="/">income</a>
		<a href="/expance">expance</a>
	</div>
	<ul class="total__list">
		<li class="total__item">
			<p class="total__text">Total:</p> 
			<p class="total__cost"></p> 
		</li>
		<li class="total__item">
			<p class="income__text">Income:</p> 
			<p class="income__cost"></p>  
		</li>
		<li class="total__item">
			<p class="expance__text">Expance:</p> 
			<p class="expance__cost"></p>  
		</li>
	</ul>

	<script src="/js/total.js"></script>
</body>
</html>