* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 25px;
}

body {
	align-items: center;
	font-size: 17px;
	background: linear-gradient(to top left, powderblue, pink);
	background-attachment: fixed;
}

.container {
	margin: 0 auto;
	width: 1140px;
}

.nav .container {
    margin-top: 20px;
}

.nav-title {
    font-size: 40px;
    color: aliceblue;
}

table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 10%;
	margin-bottom: 50px;
}

thead {
  	background-color: rgba(255, 0, 0, 0.4);
  	font-size: 20px;
  	color: white;
}

tbody {
	background-color: rgba(0, 0, 0, 0.2);
	font-weight: 500;
	font-size: 20px;
	color: white;
}

th, td {
  	text-align: center;
}

th, td {
  	padding: 15px;
}

.link {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 55%;
	margin-bottom: 25px;
}

#income-form {
	margin-bottom: 5px;
	margin-top: 30px;
	width:  100%;
	display: flex;
}

#target, #money {
	width:  43%;
	padding:  10px 15px;
	outline: none;
	background-color: rgba(0, 0, 0, 0.2);
	border:  none;
	border-radius: 3px;
	color: white;
	font-size: 17px;
}

#target::placeholder, #money::placeholder {
	color:  white;
	font-size: 17px;
}

#money {
	margin:  0 5px;
}

.button {
	outline: none;
	border:  none;
	background-color: rgba(255, 0, 0, 0.4);
	color:  white;
	font-size: 17px;
	border-radius: 4px;
	cursor: pointer;
	width:  15%;
}