* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
    font-size: 25px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
	font-size: 17px;
	background: linear-gradient(to top left, powderblue, pink);
	background-attachment: fixed;
}

.container {
    margin: 0 auto;
    width: 1140px;
}

.nav .container {
    margin-top: 20px;
}

.nav-title {
    font-size: 40px;
    color: aliceblue;
}

